[Unit]
Description=SimplyTranslate Container
After=local-fs.target

[Container]
AutoUpdate=registry
ContainerName=simplytranslate
DropCapability=ALL
Image=ghcr.io/reflux0301/simplytranslate:latest
Network=simplytranslate.network
ReadOnly=true
NoNewPrivileges=true
User=65534:65534
PublishPort=3008:5000
Environment=ADDRESS=0.0.0.0:5000
Environment=GOOGLETRANSLATE_ENABLE=true
GlobalArgs=--runtime=runsc
SecurityLabelDisable=true

[Service]
Restart=always
TimeoutStartSec=180

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target