[Unit]
Description=Hckrnws Container
After=local-fs.target

[Container]
AutoUpdate=registry
ContainerName=hckrnws
DropCapability=ALL
Image=ghcr.io/reflux0301/hckrnws:latest
Network=hckrnws.network
ReadOnly=true
NoNewPrivileges=true
User=nobody
PublishPort=3011:3000

[Service]
Restart=always
TimeoutStartSec=180

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target