[Unit]
Description=Proxitok Compose Service
After=rpm-ostree-install@podman-compose.service

[Service]
Type=oneshot
ExecStart=/usr/bin/podman compose -f /home/nsa_admin/compose.yml up -d
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
