[Unit]
Description=Nullnet Services Main Site Container
After=local-fs.target

[Container]
AutoUpdate=registry
ContainerName=main_site
DropCapability=ALL
Image=ghcr.io/reflux0301/static_site:latest
Network=main_site.network
NoNewPrivileges=true
PublishPort=3000:8080
GlobalArgs=--runtime=runsc
SecurityLabelDisable=true

[Service]
Restart=always
TimeoutStartSec=180

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target